*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: #6d7dc9;
}
form{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
form .feedval{
    height: 40px;
    min-width: 350px;
    font-size: 16px;
}
form .sub-btn{
    height: 40px;
    width: 90px;
    background-color: #643a51;
    color: #fff;
    border-radius: 8px;
    margin-top: 25px;
}